* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}
.topo {
    width: 100%;
    height: 60px;
    background-color: brown;
    display: flex;
    justify-content: space-between;
}

.topo-img {
    display: flex;
   align-items: center;
   

}

.topo-img img {
    display: flex;
    align-content: center;
    width: 70%;
}

.topo-link {
    display: flex;
    margin-left: 15px;

}

.topo-link a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
}